.card {
    border-radius: 12px;
    background-color: aquamarine;
    padding: 1rem;
    margin: 2rem;
    width: 50rem;
    max-width: 50%;
}

.card2 {
    border-radius: 12px;
    background-color: aquamarine;
    padding: 1rem;
    margin: 2rem;
    width: 20rem;
    max-width: 30%;
}

.main{
    display: flex;
}