.courses{
    background-color: coral;
    height: 70%;
    width: 90%;
    padding: 2rem;
    margin:1rem;
}

.card.dunno {
    width:90%;
    border-radius: 12px;
    background-color: aquamarine;
    padding: 1rem;
    margin: 1rem;
    max-width: 100%;
}